

<ion-content class="ion-padding">

  <form *ngIf="step === 1">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="sendOtp()">Send OTP</ion-button>
  </form>

 
  <form *ngIf="step === 2">
    <ion-item>
      <ion-label position="floating">Enter OTP</ion-label>
      <ion-input type="text" [(ngModel)]="otp" name="otp"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="verifyOtp()">Verify OTP</ion-button>
  </form>


  <form *ngIf="step === 3">
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="resetPassword()">Reset Password</ion-button>
  </form>

</ion-content>
